{% include "header.html" %}
<!DOCTYPE html>
<html>
  <head>
    <title>Transfer Money</title>
  </head>
  <body>
    <br />
    <div class="container" style="padding-top: 50px; color: black">
      {% with msg = get_flashed_messages(with_categories=true) %} {% if msg %}
      {% for category, msgs in msg %}
      <center>
        <div class="alert alert-{{ category }}">
          <p>{{ msgs }}</p>
        </div>
      </center>
      {% endfor %} {% endif %} {% endwith %}
    </div>

    {% block content %}

    <form class="pure-form pure-form-aligned" method="POST">
      <fieldset style="text-align: center">
        <legend style="color: black; padding-top: 100px">
          <h1>Transfer Money</h1>
        </legend>
        <div class="pure-control-group">
          {{ form.hidden_tag() }}
          <p style="color: black">
            Sender's SSN ID {{ form.customer_id(size=15) }} {% for error in
            form.customer_id.errors %}
            <span class="error-message">{{ error }}</span>
            {% endfor %}
          </p>
          <p style="color: black">
            Reciver's SSN ID {{ form.receiver_id(size=15) }} {% for error in
            form.receiver_id.errors %}
            <span class="error-message">{{ error }}</span>
            {% endfor %}
          </p>
          <p style="color: black">
            {{ form.transfer_amount.label }} {{ form.transfer_amount(size=15) }}
            {% for error in form.transfer_amount.errors %}
            <span class="error-message">{{ error }}</span>
            {% endfor %}
          </p>
          <span style="color: red; padding-left: 250px"
            >All fields are mandatory</span
          >
          <p style="color: black; padding-left: 210px">{{ form.submit() }}</p>
        </div>
      </fieldset>
    </form>

    {% endblock %}
  </body>
  {% include "footer.html" %}
</html>
